<meta property="og:title" content="Reconnect | Achievements" />
<meta
  property="og:image"
  content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg"
/>
<meta
  property="og:description"
  content="The Student Network. Connecting students in and outside the classroom."
/>
{% extends "base.html" %} {% block title %}Achievements{% endblock %} {% block
content %}

<link rel="stylesheet" href="../static/styles/achievements.css">

<style>
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
      rgba(110, 129, 160, 0.1),
      rgba(110, 129, 160, 0.2)
    );
    border: 1px solid #eaeaea;
    border-radius: 0.5em;
  }
</style>

<div class="ui segment padded">
  <div class="ui grid stackable">
    <div class="ui sixteen wide column" style="text-align: center">
      <div class="ui statistic {{percentage_color}}">
        <div class="value">{{percentage}}%</div>
        <div class="label">achievements completed</div>
      </div>

      <div class="ui horizontal divider">
        <i class="icon check"></i> Completed ({{unlocked_achievements|length}})
      </div>
    </div>

    {% for achievement in unlocked_achievements %}
    <div
      class="ui one wide column achievement"
      data-html='<div class="header">{{achievement[4]}}</div><div style="color: grey; text-transform: uppercase; font-size: 0.8em;" class="{{achievement[2]}}-glow">{{achievement[2]}}</div>{{achievement[0]}}<br><b>{{achievement[3]}} XP</b>'
      style="text-align: center"
    >
      <i
        class="icon {{ achievement[1] }} big {{achievement[2]}} achievement-icon"
      ></i>
    </div>
    {% endfor %}

    <div class="ui sixteen wide column">
      <div class="ui horizontal divider">
        <i class="icon lock"></i>Locked ({{locked_achievements|length}})
      </div>
    </div>

    {% for achievement in locked_achievements %}
    <div
      class="ui one wide column"
      data-html='<div class="header">{{achievement[4]}}</div><div style="color: grey; text-transform: uppercase; font-size: 0.8em;" class="{{achievement[2]}}-glow">{{achievement[2]}}</div>{{achievement[0]}}<br><b>{{achievement[3]}} XP</b>'
      style="text-align: center"
    >
      <div class="overlay achievement">
        <i class="icon lock big"></i>
      </div>
      <i
        class="icon {{ achievement[1] }} big {{achievement[2]}} achievement-icon"
      ></i>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Use static/local versions instead of this cdnjs link -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script>
  $("[data-html]").popup();
</script>

{%endblock%}
