<meta property="og:title" content="Reconnect | Flashcards" />
<meta
  property="og:image"
  content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg"
/>
<meta
  property="og:description"
  content="The Student Network. Connecting students in and outside the classroom."
/>
{% extends "base.html" %} {% block title %}Flashcard set list{% endblock %} {% block
content %}
<!-- when writing the for loop, use the whole ui segment instead of just "sixteen wide column" -->

<div class="ui segment" id="feedback-post-input">
  {% if errors %}
  <div class="ui message red">
    <div class="header">Error:</div>
    {% for item in errors %}
    <p>{{ item }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="ui form">
    <div class="field">
      <label>Name</label>
        <input
          placeholder="Flashcard set name"
          type="text"
          name="set_name"
        />
    </div>
  </div>

  <div class="ui segment">
    <div class="ui grid">
    {% if questions %}
      {% for question in questions.keys() %}
        <div class="row">
            <div class="ui eight wide column">
              <div class="ui form">
                Question:
                <input
                  placeholder="Question"
                  type="text"
                  name="question"
                  value="{{question}}"
                />
              </div>
            </div>
            <div class="ui eight wide column">
              <div class="ui form">
                Answer:
                <input
                  placeholder="Answer"
                  type="text"
                  name="answer"
                  value="{{questions[question]}}"
                />
              </div>
            </div>
        </div>
      {% endfor %}
    {% else %}
    <div class="ui sixteen wide column">
        <label>This deck has no cards</label>
    </div>
    {%endif%}
    </div>
  </div>
    

<div class="ui segment">
  <div class="ui sixteen wide column">
    <a href="{{ url_for('flashcards.flashcards') }}">
      <button class="ui left floated blue button">
        Back to sets
      </button>
    </a>
    <a href="{{ url_for('flashcards.flashcards_delete', set_id=set_id) }}">
      <button class="ui left floated blue button">
        Delete Deck
      </button>
    </a>
    <a href="{{ url_for('flashcards.flashcards_play', set_id=set_id) }}">
      <button class="ui right floated blue button">
        Play Deck
      </button>
    </a>
    <a href="{{ url_for('flashcards.flashcards_save', set_id=set_id) }}">
      <button class="ui right floated blue button">
        Save Deck
      </button>
    </a>
    <a href="{{ url_for('flashcards.flashcards_add', set_id=set_id) }}">
      <button class="ui right floated blue button">
        Add Card
      </button>
    </a>
  </div>           
</div>
{% endblock %}
