<meta property="og:title" content="Reconnect | Flashcards" />
<meta
  property="og:image"
  content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg"
/>
<meta
  property="og:description"
  content="The Student Network. Connecting students in and outside the classroom."
/>

<style>
  .scene {
    width: 100%;
    height: 200px;
    position: center;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    line-height: 1500%;
    transition: transform 5s;
    transform-style: preserve-3d;
  }

  .side {
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: bold;
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(180deg);
  }

  .card.flip {
    transform: rotateY(180deg);
  }

</style>

{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block content
%}

{% if question!="None"  %}
  <div class="scene">
    <div class="card ui segment">
      <div class="side">{{question[0]}}</div>
      <div class="side back">{{question[1]}}</div>
    </div>
    </div>
  <br>
  <a href="{{ url_for('flashcards.flashcards_next_question', set_id=set_id, index=index) }}">
    <button class="ui right floated gray button">
      <i class="right arrow icon"></i>
    </button>
  </a>
{% else %}
  <div class="ui segment">
    <div class="ui sixteen wide column">
        <label>This deck has no cards</label>
    </div>
  </div>
{% endif %}


<script>
  var card = document.querySelector('.card');
  
  card.addEventListener( 'click', function() {
    card.classList.toggle('flip');
  });
</script>

{%endblock%}
