<meta property="og:title" content="Reconnect | Quizzes" />
<meta
  property="og:image"
  content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg"
/>
<meta
  property="og:description"
  content="The Student Network. Connecting students in and outside the classroom."
/>
{% extends "base.html" %} {% block title %}Quiz list{% endblock %} {% block
content %}
<!-- when writing the for loop, use the whole ui segment instead of just "sixteen wide column" -->

<style>
    .question {
        margin: 1em;
        background-color: rgb(245, 245, 245);
        padding: 1em;
    }

</style>

<div class="ui segment" id="quiz-post-input">
    {% if errors %}
    <div class="ui message red">
        <div class="header">Error:</div>
        {% for item in errors %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="ui horizontal divider hidden"></div>
    <form action="{{ url_for('quizzes.create_quiz') }}" class="ui form" method="POST">
        <div class="field">
            <label>Quiz Name</label>
            <input type="text" name="quiz_name" />
        </div>

        <div id="quizQuestions"></div>

        <button type="button" onclick="NewQuestion();" class="ui button green"><i class="icon add"></i> New Question</button>

        <input type="submit" value="Create Quiz" class="ui button teal" />
    </form>
</div>

<div class="ui segment">
  <div class="ui pointing secondary menu">
    {% if personal==True %}
    <a class="item" href="{{ url_for('quizzes.quizzes') }}"> All Quizzes </a>
    <a
      class="active item"
      href="{{ url_for('quizzes.quizzes_user', username=username) }}"
    >
      Quizzes Created By Me
    </a>
    {% else %}
    <a class="active item" href="{{ url_for('quizzes.quizzes') }}">
      All Quizzes
    </a>
    <a
      class="item"
      href="{{ url_for('quizzes.quizzes_user', username=username) }}"
    >
      Quizzes Created By Me
    </a>
    {% endif %}
  </div>
</div>

{% for quiz in quizzes %}
<div class="ui segment">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <h2>
                <a href="/quiz/{{ quiz[0] }}">{{ quiz[3] }}</a>
                <div style="float: right">
                    <h5>{{ quiz[1] }}</h5>
                </div>
            </h2>
            Created by
            <a href="/profile/{{ quiz[2] }}">
                <div class="ui label">
                    {{ quiz[2] }}
                    <div class="detail">{{ quiz[4] }} plays</div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function DeleteQuestion(elem) {
        $(elem).parent().parent().remove();

        UpdateQuestions();
    }

    function UpdateQuestions() {
        $('.question').each(function(index) {
            var i = index + 1;

            $(this).find(".question-input").attr('name', 'question_' + i);
            $(this).find(".correct-answer").attr('name', 'question_' + i + '_ans_1');
            $(this).find(".wrong-answer-1").attr('name', 'question_' + i + '_ans_2');
            $(this).find(".wrong-answer-2").attr('name', 'question_' + i + '_ans_3');
            $(this).find(".wrong-answer-3").attr('name', 'question_' + i + '_ans_4');
        })
    }

    function QuestionLabel(elem) {
        var question = $(elem).closest(".question");

        var allFilled = true;

        $(question).find(".question-input").each(function() {
            if ($(this).val().length === 0) {
                allFilled = false;
            }
        });

        question.find(".question-label").addClass("basic");

        if (allFilled) {
            question.find(".question-label").removeClass("basic");
        }
    }

    function ToggleDetails(elem) {
        var targetElem = $(elem).parent().parent().find(".question-details");

        if (targetElem.is(":visible")) {
            targetElem.slideUp();
            $(elem).html('<i class="icon triangle down"></i>');
        } else {
            targetElem.slideDown();
            $(elem).html('<i class="icon triangle up"></i>');
        }
    }

    function NewQuestion() {
        var html = `
            <div class="question">
                <div class="ui labeled input fluid">
                    <button type="button" class="ui button icon toggle-arrow" onclick="ToggleDetails(this);"><i class="icon triangle up"></i></button>
                    <div class="ui label teal basic question-label">Question</div>
                    <input class="question-input question-slide-toggle" oninput="QuestionLabel(this);">
                    <button class="ui button red icon" onclick="DeleteQuestion(this);"><i class="icon times"></i></button>
                </div>
                
                <div class="question-details">
                    <div class="ui horizontal divider"></div>
                    <div class="ui grid">        
                        <div class="eight wide column">
                            <div class="ui labeled input fluid">
                                <div class="ui label">Correct Answer</div>
                                <input class="correct-answer question-input" oninput="QuestionLabel(this);">
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui labeled input fluid">
                                <div class="ui label">Wrong Answer</div>
                                <input class="wrong-answer-1 question-input" oninput="QuestionLabel(this);">
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui labeled input fluid">
                                <div class="ui label">Wrong Answer</div>
                                <input class="wrong-answer-2 question-input" oninput="QuestionLabel(this);">
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="ui labeled input fluid">
                                <div class="ui label">Wrong Answer</div>
                                <input class="wrong-answer-3 question-input" oninput="QuestionLabel(this);">
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;

        $('#quizQuestions').append(html);

        $('.question-slide-toggle').each(function() {
            $(this).click(function() {
                $(this).parent().parent().find(".question-details").slideDown();
                $(this).parent().parent().find(".toggle-arrow").html('<i class="icon triangle up"></i>');
            })
        })
        UpdateQuestions();
        NewQuestion();
    }

</script>
{% endblock %}
