<meta property="og:title" content="Reconnect | Shop" />
<meta property="og:image" content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg" />
<meta property="og:description" content="The Student Network. Connecting students in and outside the classroom." />
{% extends "base.html" %}
{% block title %}Shop{% endblock %}
{% block content %}

<div class="ui segment">
   <div class="ui horizontal divider">DAILY DEALS</div>
    <div class="ui two cards stackable">
        <div class="card">
            <div class="ui fluid image">
               <div class="ui label ribbon red">-30%</div>
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for <strike>500</strike>300 coins</button>
        </div>
        <div class="card">
            <div class="ui fluid image">
               <div class="ui label ribbon red">-30%</div>
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for <strike>500</strike>300 coins</button>
        </div>
    </div>
    <div class="ui six cards doubling">
        <div class="card">
            <div class="image">
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for <strike>500</strike>300 coins</button>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for 500 coins</button>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for 500 coins</button>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for 500 coins</button>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for 500 coins</button>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://picsum.photos/800" alt="">
            </div>
            <div class="content">
                <a class="header">Profile Background</a>
            </div>
            
            <button class="ui button bottom attached">Purchase for 500 coins</button>
        </div>
    </div>
</div>
{% endblock %}
