<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
<link rel="shortcut icon" href="../static/images/logo/chatboxes_stretch_png.png">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/semantic.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <title>Student Network - {% block title %}{% endblock %}</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <style type="text/css">
        .student-background {
            background-image: url("{{ url_for('static', filename='images/blue_background.png') }}") !important;

            height: 100%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: fixed;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .sticky {
            position: sticky;
            top: 5px;
            z-index: 99;
        }

    </style>
</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui container">
            <div class="student-background"></div>
            <div class="sticky">
                <div class="ui menu small pointing stackable">
                    <div class="item">
                        <img src="../static/images/logo/chatboxes_stretch_png.png" onclick="location.href = &quot;/&quot;" alt="">
                    </div>
                    <a href="" class="item">
                        <i class="user icon"></i>
                        My Profile
                    </a>
                    <div class="ui simple dropdown item">
                        <i class="icon sitemap"></i>
                        Connections
                        <div class="menu">
                            <a href="" class="item">
                                <i class="icon sitemap"></i>
                                My Connections
                            </a>
                            <a href="" class="item">
                                <i class="icon users"></i>
                                Find Users
                            </a>
                        </div>
                    </div>
                    <a href="" class="item">
                        <i class="icon newspaper"></i>
                        Feed
                    </a>
                    <div class="ui simple dropdown item">
                        <i class="icon bar chart"></i>
                        Stats
                        <div class="menu">
                            <a href="" class="item">
                                <i class="icon trophy"></i>
                                Achievements
                            </a>
                            <a href="" class="item">
                                <i class="icon table"></i>
                                Leaderboard
                            </a>
                        </div>
                    </div>
                    <div class="ui simple dropdown item">
                        <i class="icon gamepad"></i>
                        Games
                        <div class="menu">
                            <a href="" class="item">
                                <i class="help icon"></i>
                                Quizzes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
