<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel=stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css">
<link rel="shortcut icon" href="../static/images/logo/chatboxes_stretch_png.png">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/semantic.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <title>Student Network - {% block title %}{% endblock %}</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <style type="text/css">
        .student-background {
            background-image: url("{{ url_for('static', filename='images/blue_background.png') }}") !important;

            height: 100%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            position: fixed;
            z-index: -1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .sticky {
            position: sticky;
            top: 5px;
            z-index: 99;
        }

    </style>
</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui container">
            <div class="student-background"></div>
            <div class="sticky">
                <div class="ui menu small pointing stackable">
                    <div class="item">
                        <img src="../static/images/logo/chatboxes_stretch_png.png" onclick="location.href = &quot;/&quot;" alt="">
                    </div>
                    <a href="/" class="item">
                        <i class="user icon"></i>
                        My Profile
                    </a>
                    {% if session["username"] %}
                    <div class="ui simple dropdown item">
                        <i class="icon sitemap"></i>
                        Connections
                        {% if requestCount > 0 %}
                        <div class="ui label red mini">{{ requestCount }}</div>
                        {% endif %}
                        <div class="menu">
                            <a href="/requests" class="item">
                                <i class="icon sitemap"></i>
                                My Connections
                                {% if requestCount > 0 %}
                                <div class="ui label red mini">{{ requestCount }}</div>
                                {% endif %}
                            </a>
                            <a href="/members" class="item">
                                <i class="icon users"></i>
                                Find Users
                            </a>
                        </div>
                        <i class="icon dropdown"></i>
                    </div>
                    {% endif %}
                    <a href="/feed" class="item">
                        <i class="icon newspaper outline"></i>
                        Feed
                    </a>
                    <div class="ui simple dropdown item">
                        <i class="icon bar chart"></i>
                        Stats
                        <i class="icon dropdown"></i>
                        <div class="menu">
                            <a href="/achievements" class="item">
                                <i class="icon trophy"></i>
                                Achievements
                            </a>
                            <a href="/leaderboard" class="item">
                                <i class="icon table"></i>
                                Leaderboard
                            </a>
                        </div>
                    </div>
                    <div class="ui simple dropdown item">
                        <i class="icon gamepad"></i>
                        Games
                        <i class="icon dropdown"></i>
                        <div class="menu">
                            <a href="/quizzes" class="item">
                                <i class="help icon"></i>
                                Quiz
                            </a>
                        </div>
                    </div>

                    <div class="right menu">
                        {% if "admin" in session %}
                            {% if session["admin"] %}
                               <div class="ui simple dropdown item">
                                    <i class="lock icon"></i>
                                    Admin Panel
                                    <i class="icon dropdown"></i>
                                    <div class="menu">
                                        <a href="{{url_for('show_staff_requests')}}" class="item">
                                            <i class="user icon"></i>
                                            Staff Requests
                                        </a>
                                    </div>
                               </div>
                            {% endif %}
                        {% endif %}
                        {% if "username" in session %}
                        <div class="ui simple dropdown item">
                           <i class="user circle icon"></i>
                            Logged in as {{ session["username"] }}
                            <i class="icon dropdown"></i>
                            <div class="menu">
                                <a href="/edit-profile" class="item">
                                    <i class="icon cogs"></i>
                                    Profile Settings
                                </a>
                                <a href="/edit-profile" class="item">
                                    <i class="icon cog"></i>
                                    Customization
                                </a>
                                <a href="/logout" class="item">
                                    <i class="icon key"></i>
                                    Logout
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
