{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<style>
    .chat-message-body {
        width: 45%;
        display: block;
    }

    .chat-message-body>.username {
        color: gray;
    }

    .chat-message {
        background-color: #e8e8e9;
        padding: 1em;
        border-radius: 1em;
    }

    .left-floated {
        margin-right: auto;
        margin-left: 1em;
    }

    .right-floated {
        margin-left: auto;
        margin-right: 1em;
    }

    .right-floated>.username {
        text-align: right;
    }

    .no-resize {
        resize: none !important;
    }

</style>

<div class="ui segment">
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui input fluid small">
                <input type="text" placeholder="Search">
            </div>
            <div class="ui horizontal divider"></div>
            <div class="ui grid">
<!--
                <div class="ui seven wide column">
                    <img src="https://via.placeholder.com/150" class="ui image rounded fluid" alt="">
                </div>
                <div class="nine wide column">
                    <div class="ui grid">
                        <div class="row">Username</div>
                        <div class="row">Last message • 7h</div>
                    </div>
                </div>
-->
               <div class="ui vertical menu secondary">
                   <a href="" class="item active">
                       <img src="https://via.placeholder.com/150" class="ui avatar image" alt="">
                       Username
                   </a>
               </div>
            </div>
        </div>
        <div class="one wide column"></div>
        <div class="twelve wide column">
            <div class="ui grid" id="message-container"></div>
            <div class="ui horizontal divider"></div>
            <form class="ui form" method="POST" action="" id="chat-message-form">
                <div class="field">
                    <textarea name="" id="" rows="2" class="no-resize"></textarea>
                </div>
                <div class="field">
                    <input class="ui button" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

<script>
    var socket = io.connect("http://"+document.domain+":"+location.port);
    
    const username = '{{username}}';
    
    socket.on("connect", function(){
//        socket.emit("chat_message_event", {
//            data: "User connected!"
//        });
        
        var form = $('#chat-message-form').on("submit", function(e){
            var message = $('#chat-message-form textarea').val()
            
            if (message.length == 0) return;
            
            e.preventDefault();
            socket.emit( 'chat_message_event', {
              message : message,
              sender_username: username
            })
            $('#chat-message-form textarea').val("").focus()
        })
    })
    
    socket.on("my response", function(msg){
        NewChatMessage(msg, false);
    })
    
    document.addEventListener("keydown", function(e){
        if (e.keyCode == 13){
            $('#chat-message-form').submit();
        }
    })
    
    function NewChatMessage(msg){
        var extra = msg.sender_username == username ? "right-floated" : "left-floated";
        var html = `<div class="row">
                    <div class="chat-message-body ${extra}">
                        <div class="username">${msg.username}</div>
                        <div class="chat-message">
                            ${msg.message}
                        </div>
                    </div>
                </div>`;
        
        document.getElementById("message-container").innerHTML += html;
    }
</script>

{% endblock %}
