{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
  <div class="ui segment">
    <div style="text-align: center;">
      <div class="ui statistic">
        <div class="value">#{{ myRanking }} <span
            style="font-size: 0.3em;">/ {{ totalUserCount }}</span></div>
        <div class="detail">Your Ranking</div>
      </div>
    </div>
    <div class="ui horizontal divider hidden"></div>
    <table class="ui very basic celled table fluid selectable compact stackable">
      <thead>
      <tr>
        <th class="one wide"><h3>Rank</h3></th>
        <th class="seven wide"><h3>User</h3></th>
        <th class="four wide"><h3>Level</h3></th>
        <th class="four wide"><h3>Total XP</h3></th>
      </tr>
      </thead>
      <tbody>
      {% for i in range(leaderboard|length) %}
        <tr {% if myRanking == i+1 %}class="active"{% endif %}>
          <td><h2 class="ui center aligned header">#{{ i+1}}</h2></td>
          <td>
            <h4 class="ui image header">
              <img src='{{ leaderboard[i][2] }}' class="ui mini rounded image">
              <div class="content">
                <a href="/profile/{{ leaderboard[i][0] }}">{{ leaderboard[i][0] }}</a>
                <div class="sub header">{{ leaderboard[i][4] }}
                </div>
              </div>
            </h4>
          </td>
          <td><h2 class="ui aligned header">{{ leaderboard[i][3][0] }}</h2></td>
          <td><h2 class="ui aligned header">{{ leaderboard[i][1] }}</h2></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
