<meta property="og:title" content="Reconnect | Quiz" />
<meta property="og:image" content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg" />
<meta property="og:description" content="The Student Network. Connecting students in and outside the classroom." />
{% extends "base.html" %}
{% block title %}Quiz list{% endblock %}
{% block content %}
<!-- when writing the for loop, use the whole ui segment instead of just "sixteen wide column" -->

<div class="ui segment" id="quiz-post-input">
    {% if errors %}
    <div class="ui message red">
        <div class="header">Error:</div>
        {% for item in errors %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="ui buttons" id="post-type-buttons">
        <div class="ui orange button basic">Question</div>
        <button class="ui orange button question-select" onclick="SelectQuestion(1,this);" id="default-question-btn">
            1
        </button>
        <button class="ui orange button question-select basic" onclick="SelectQuestion(2,this);">
            2
        </button>
        <button class="ui orange button question-select basic" onclick="SelectQuestion(3,this);">
            3
        </button>
        <button class="ui orange button question-select basic" onclick="SelectQuestion(4,this);">
            4
        </button>
        <button class="ui orange button question-select basic" onclick="SelectQuestion(5,this);">
            5
        </button>
        <!--                    <button class="ui green button icon"><i class="plus icon"></i></button>-->
    </div>
    <div class="ui horizontal divider hidden"></div>
    <form action="{{ url_for('posts.submit_post') }}" class="ui form" method="POST">
      <input hidden name="form_type" value="Quiz"/>
      <div class="field">
        <label>Quiz Name</label>
        <input type="text" name="quiz_name"/>
      </div>
      <div class="ui segment basic question-input" id="question1">
        <div class="field">
          <label>Question</label>
          <input type="text" name="question_1" autocomplete="off"/>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Correct Answer</label>
            <input type="text" name="question_1_ans_1" autocomplete="off"/>
          </div>
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_1_ans_2" autocomplete="off"/>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_1_ans_3" autocomplete="off"/>
          </div>
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_1_ans_4" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="ui segment basic question-input" id="question2">
        <div class="field">
          <label>Question</label>
          <input type="text" name="question_2" autocomplete="off"/>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Correct Answer</label>
            <input type="text" name="question_2_ans_1" autocomplete="off"/>
          </div>
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_2_ans_2" autocomplete="off"/>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_2_ans_3" autocomplete="off"/>
          </div>
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_2_ans_4" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="ui segment basic question-input" id="question3">
        <div class="field">
          <label>Question</label>
          <input type="text" name="question_3" autocomplete="off"/>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Correct Answer</label>
            <input type="text" name="question_3_ans_1" autocomplete="off"/>
          </div>
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_3_ans_2" autocomplete="off"/>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_3_ans_3" autocomplete="off"/>
          </div>
          <div class="field">
            <label>Answer</label>
            <input type="text" name="question_3_ans_4" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="ui segment basic question-input" id="question4">
        <div class="field">
            <label>Quiz Name</label>
            <input type="text" name="quiz_name" />
        </div>
        <div class="ui segment basic question-input" id="question1">
            <div class="field">
                <label>Question</label>
                <input type="text" name="question_1" autocomplete="off" />
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Correct Answer</label>
                    <input type="text" name="question_1_ans_1" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_1_ans_2" autocomplete="off" />
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_1_ans_3" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_1_ans_4" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="ui segment basic question-input" id="question2">
            <div class="field">
                <label>Question</label>
                <input type="text" name="question_2" autocomplete="off" />
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Correct Answer</label>
                    <input type="text" name="question_2_ans_1" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_2_ans_2" autocomplete="off" />
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_2_ans_3" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_2_ans_4" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="ui segment basic question-input" id="question3">
            <div class="field">
                <label>Question</label>
                <input type="text" name="question_3" autocomplete="off" />
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Correct Answer</label>
                    <input type="text" name="question_3_ans_1" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_3_ans_2" autocomplete="off" />
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_3_ans_3" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_3_ans_4" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="ui segment basic question-input" id="question4">
            <div class="field">
                <label>Question</label>
                <input type="text" name="question_4" autocomplete="off" />
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Correct Answer</label>
                    <input type="text" name="question_4_ans_1" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_4_ans_2" autocomplete="off" />
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_4_ans_3" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_4_ans_4" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="ui segment basic question-input" id="question5">
            <div class="field">
                <label>Question</label>
                <input type="text" name="question_5" autocomplete="off" />
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Correct Answer</label>
                    <input type="text" name="question_5_ans_1" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_5_ans_2" autocomplete="off" />
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_5_ans_3" autocomplete="off" />
                </div>
                <div class="field">
                    <label>Answer</label>
                    <input type="text" name="question_5_ans_4" autocomplete="off" />
                </div>
            </div>
        </div>

        <input type="submit" value="Create Quiz" class="ui button teal" />
    </form>
</div>

{% for quiz in quizzes %}
<div class="ui segment">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <h2>
                <a href="/quiz/{{ quiz[0] }}">{{ quiz[3] }}</a>
                <div style="float: right;">
                    <h5>{{ quiz[1] }}</h5>
                </div>
            </h2>
            Created by <a href="/profile/{{ quiz[2] }}">
                <div class="ui label">
                    {{ quiz[2] }}
            </a>
        </div>
        <div style="float: right;">
            <h5>{{ quiz[4] }} plays</h5>
        </div>
    </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function SelectQuestion(index, elem) {
        $(".question-select").addClass("basic");
        $(elem).removeClass("basic");

        $(".question-input").hide(300);
        $("#question" + index).show(300);

        UpdateQuestionSelectBtns();
    }

    function UpdateQuestionSelectBtns() {
        $(".question-input").each(function(index) {
            var anyEmpty = false;
            $(this)
                .find("input")
                .each(function() {
                    if ($(this).val() == "") {
                        anyEmpty = true;
                    }
                });

            var currentQuestion = $(".question-select").eq(index);
            // invalid input
            if (anyEmpty) {
                currentQuestion.removeClass("green");
            } else {
                currentQuestion.addClass("green");
                currentQuestion.removeClass("orange");
            }
        });
    }

    SelectQuestion(0, $("#default-question-btn"));

    $(".question-input input").on("input", function() {
        UpdateQuestionSelectBtns();
    });

</script>

{% endfor %}
{% endblock %}
