<meta property="og:title" content="Reconnect | Connections" />
<meta property="og:image" content="https://i.ibb.co/hL3WsKP/full-logo-jpg.jpg" />
<meta property="og:description" content="The Student Network. Connecting students in and outside the classroom." />
{% extends "base.html" %} {% block title %}Request{% endblock %} {% block
content %}
<div class="ui segment">
  {%if requests|length == 0 and connections|length == 0 %}
  <div class="ui message orange" style="text-align: center">
    No connections to show
  </div>
  {% endif %} {%if requests|length > 0%}
  <div class="ui horizontal divider">
    Your Connection Requests ({{requests|length}})
  </div>
  <div class="ui middle aligned list">
    {% for i in range(requests|length) %}
    <div class="item">
      <div class="ui mini buttons right floated">
        <form
          action="{{ url_for('connections.accept_connection_request', username=requests[i]) }}"
          method="GET"
        >
          <button class="ui green button tiny">
            <i class="user icon"></i>
            Accept
          </button>
        </form>
        <div class="or"></div>
        <form
          action="{{ url_for('connections.remove_connection', username=requests[i]) }}"
          method="GET"
        >
          <button class="ui red button tiny">
            <i class="user icon"></i>
            Deny
          </button>
        </form>
      </div>
      <img class="ui avatar image" src="{{ avatars[i] }}" />
      <div class="content">
        <a href="{{ url_for('profile.profile', username=requests[i]) }}"
          >{{ requests[i] }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  {%endif%} {%if connections|length > 0%}
  <div class="ui horizontal divider">
    Your Connections ({{connections|length}})
  </div>
  <div class="ui middle aligned list">
    {% for connection in connections %}
    <div class="item">
      <div class="ui mini buttons right floated">
        <form
          action="{{ url_for('connections.remove_connection', username=connection[0]) }}"
          method="GET"
        >
          <button class="ui red button tiny">
            <i class="close icon"></i>
            Disconnect
          </button>
        </form>
      </div>
      <img class="ui avatar image" src="{{ connection[1] }}" />
      <div class="content">
        {% if connection[2]%}
        <span data-tooltip="Close Friends">
          <i class="handshake outline icon"></i>
        </span>
        {%endif%}
        <a href="{{ url_for('profile.profile', username=connection[0]) }}"
          >{{ connection[0] }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  {%endif%} {%if pending|length > 0%}
  <div class="ui horizontal divider">
    Your Pending Connections ({{pending|length}})
  </div>
  <div class="ui middle aligned list">
    {% for connection in pending %}
    <div class="item">
      <div class="ui mini buttons right floated">
        <form
          action="{{ url_for('connections.remove_connection', username=connection[0]) }}"
          method="GET"
        >
          <button class="ui red button tiny">
            <i class="close icon"></i>
            Cancel
          </button>
        </form>
      </div>
      <img class="ui avatar image" src="{{ connection[1] }}" />
      <div class="content">
        {% if connection[2]%}
        <span data-tooltip="Close Friends">
          <i class="handshake outline icon"></i>
        </span>
        {%endif%}
        <a href="{{ url_for('profile.profile', username=connection[0]) }}"
          >{{ connection[0] }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  {%endif%} {%if blocked|length > 0%}
  <div class="ui horizontal divider">
    Your Blocked Connections ({{blocked|length}})
  </div>
  <div class="ui middle aligned list">
    {% for connection in blocked %}
    <div class="item">
      <div class="ui mini buttons right floated">
        <form
          action="{{ url_for('connections.unblock_user', username=connection[0]) }}"
          method="GET"
        >
          <button class="ui red button tiny">
            <i class="close icon"></i>
            Unblock
          </button>
        </form>
      </div>
      <img class="ui avatar image" src="{{ connection[1] }}" />
      <div class="content">
        {% if connection[2]%}
        <span data-tooltip="Close Friends">
          <i class="handshake outline icon"></i>
        </span>
        {%endif%}
        <a href="{{ url_for('profile.profile', username=connection[0]) }}"
          >{{ connection[0] }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  {%endif%}
  <div class="ui horizontal divider">Recomended Connections</div>
  <div class="ui middle aligned list">
    {% if mutuals|length > 0 %} {% for i in range(mutuals|length) %}
    <div class="item">
      <div class="ui mini buttons right floated">
        <form
          action="{{ url_for('connections.connect_request', username=mutuals[i][0]) }}"
          method="POST"
          id="connect-request"
        >
          <button class="ui blue button tiny">
            <i class="user icon"></i>
            Connect
          </button>
        </form>
      </div>
      <img class="ui avatar image" src="{{ mutual_avatars[i] }}" />
      <div class="content">
        <a href="{{ url_for('profile.profile', username=mutuals[i][0]) }}"
          >{{mutuals[i][0]}}</a
        >
        <br />
        {% if mutuals[i][2] == "mutual connection" or
          mutuals[i][2] == "mutual connections" %} {{mutuals[i][1]}}
        {% endif %} {{mutuals[i][2]}}
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="ui message orange" style="text-align: center">
      Try connecting to more people or adding information to your profile to get
      connection recommendations
    </div>
    {%endif%}
  </div>
</div>
{%endblock%}
