{% extends "base.html" %}
{% block title %}Feed{% endblock %}
{% block content %}

<div class="ui segment">
    {% if errors %}
    <div class="ui message red">
        <div class="header">Error:</div>
        {% for item in errors %}
        <p>{{ item }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui segment basic">
                <div class="ui buttons teal icon" id="post-type-buttons">
                    <div class="ui teal button basic">Post Type</div>
                    <button class="ui button" onclick='SelectPostType("text", this);' id=default-post-btn><i class="file alternate outline icon"></i> Text</button>
                    <button class="ui button basic" onclick='SelectPostType("image", this);'><i class="file image outline icon"></i> Image</button>
                    <button class="ui button basic" onclick='SelectPostType("link", this);'><i class="linkify icon"></i> YouTube Video</button>
                    <button class="ui button basic" onclick='SelectPostType("quiz", this);'><i class="question circle outline icon"></i> Quiz</button>
                </div>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment basic" id="text-post-input">
                <form action="{{ url_for('submit_post') }}" class="ui form" method="POST">
                    <input hidden name="form_type" value="Text">
                    <div class="required field">
                        <label>Title</label>
                        <input placeholder="Your post needs a title" type="text" name="post_title">
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <textarea placeholder="Write an optional body for your post here" name="post_text" id="" cols="3" rows="5"></textarea>
                    </div>
                    <div class="field">
                       <label>Visibility</label>
                        <select id="privacy" name="privacy">
                            <option value="private">Private</option>
                            <option value="close">Close Friends</option>
                            <option value="protected">Connections</option>
                            <option value="public" selected>Public</option>
                        </select>
                    </div>
                    <input type="submit" value="Post" class="ui button teal">
                </form>
            </div>

            <div class="ui segment basic" id="image-post-input">
                <form action="{{ url_for('submit_post') }}" class="ui form" method="POST" enctype="multipart/form-data">
                    <input hidden name="form_type" value="Image">
                    <div class="required field">
                        <label>Title</label>
                        <input placeholder="Your post needs a title" type="text" name="post_title">
                    </div>
                    <div class="field">
                        <label>Image</label>
                        <input type="file" name="file">
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <textarea placeholder="Write an optional body for your post here" name="post_text" id="" cols="3" rows="5"></textarea>
                    </div>
                    <div class="field">
                       <label>Visibility</label>
                        <select id="privacy" name="privacy">
                            <option value="private">Private</option>
                            <option value="close">Close Friends</option>
                            <option value="protected">Connections</option>
                            <option value="public" selected>Public</option>
                        </select>
                    </div>
                    <input type="submit" class="ui button teal">
                </form>
            </div>

            <div class="ui segment basic" id="link-post-input">
                <form action="{{ url_for('submit_post') }}" class="ui form" method="POST">
                    <input hidden name="form_type" value="Link">
                    <div class="required field">
                        <label>Title</label>
                        <input placeholder="Your post needs a title" type="text" name="post_title">
                    </div>
                    <div class="field">
                        <label>URL</label>
                        <input type="text" placeholder="URL" name="link">
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <textarea placeholder="Write an optional body for your post here" name="post_text" cols="3" rows="5"></textarea>
                    </div>
                    <div class="field">
                       <label>Visibility</label>
                        <select id="privacy" name="privacy">
                            <option value="private">Private</option>
                            <option value="close">Close Friends</option>
                            <option value="protected">Connections</option>
                            <option value="public" selected>Public</option>
                        </select>
                    </div>
                    <input type="submit" value="Post" class="ui button teal">
                </form>
            </div>

            <div class="ui segment basic" id="quiz-post-input">
                <div class="ui buttons" id="post-type-buttons">
                    <div class="ui orange button basic">Select Question</div>
                    <button class="ui orange button question-select" onclick='SelectQuestion(1,this);' id="default-question-btn">1</button>
                    <button class="ui orange button question-select basic" onclick='SelectQuestion(2,this);'>2</button>
                    <button class="ui orange button question-select basic" onclick='SelectQuestion(3,this);'>3</button>
                    <button class="ui orange button question-select basic" onclick='SelectQuestion(4,this);'>4</button>
                    <button class="ui orange button question-select basic" onclick='SelectQuestion(5,this);'>5</button>
                    <!--                    <button class="ui green button icon"><i class="plus icon"></i></button>-->
                </div>
                <div class="ui horizontal divider hidden"></div>
                <form action="{{ url_for('submit_post') }}" class="ui form" method="POST">
                    <input hidden name="form_type" value="Quiz">
                    <div class="field">
                        <label>Quiz Name</label>
                        <input type="text">
                    </div>
                    <div class="ui segment basic question-input" id=question1>
                        <div class="field">
                            <label>Question</label>
                            <input type="text" autocomplete="off">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Correct Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment basic question-input" id=question2>
                        <div class="field">
                            <label>Question</label>
                            <input type="text" autocomplete="off">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Correct Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment basic question-input" id=question3>
                        <div class="field">
                            <label>Question</label>
                            <input type="text" autocomplete="off">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Correct Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment basic question-input" id=question4>
                        <div class="field">
                            <label>Question</label>
                            <input type="text" autocomplete="off">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Correct Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment basic question-input" id=question5>
                        <div class="field">
                            <label>Question</label>
                            <input type="text" autocomplete="off">
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Correct Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                            <div class="field">
                                <label>Answer</label>
                                <input type="text" autocomplete="off">
                            </div>
                        </div>
                    </div>


                    <input type="submit" value="Create Quiz" class="ui button teal">
                </form>
            </div>
        </div>
    </div>
</div>

{% for post in posts.AllPosts %}
<div class="ui segment">
    <div class="ui grid stackable">
        <div class="one wide column">
            <img src="{{post.profile_pic}}" alt="" class="ui image centered round" style="border-radius: 100%;">
        </div>
        <div class="fifteen wide column">
            <div class="ui label">
                {{ post.author }}
                <div class="detail">{{ post.account_type }}</div>
            </div>
            <div style="float:right;">{{ post.date_posted }}</div>
        </div>
        <div class="sixteen wide column">
            <h2><a href="/post_page/{{ post.postId }}">{{ post.title }}</a></h2>
        </div>
        <div class="sixteen wide column">
            <div class="ui segment">
                {{ post.body }}
            </div>
        </div>
        {% if post.post_type == "Image" %}
        <div class="sixteen wide column">
            <img src="{{ post.content }}" alt="" class="ui image centered">
        </div>
        {% endif %}
        
        {% if post.post_type == "Link" or True %}
        <div class="sixteen wide column">
<!--            <button class="ui button icon" onclick="LoadVideo(this);" data-link="https://www.youtube.com/embed/tgbNymZ7vqY">Load Video <i class="icon video"></i></button>-->
           <iframe class="ui container" height="600" src="https://www.youtube.com/embed/tgbNymZ7vqY" loading="lazy" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1><img src=https://img.youtube.com/vi/tgbNymZ7vqY/hqdefault.jpg alt='YouTube Thumbnail'><span>▶</span></a>"></iframe>
        </div>
        {%endif%}

        <!--
        <div class="sixteen wide column" style="margin: 0; padding: 0;">
            <div class="ui divider"></div>

            <div class="ui two buttons fluid">
                <button class="ui button icon fluid basic"><i class="icon heart"></i>Like</button>
                <button class="ui button icon fluid basic"><i class="icon comment"></i>Comment</button>
            </div>

            <div class="ui divider"></div>
        </div>
-->
        <div class="sixteen wide column">
            <div>5 comments</div>
            <a>Show all comments</a>
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="https://via.placeholder.com/200">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                    </div>
                </div>
            </div>
            <a>Write a comment</a>
        </div>
    </div>
</div>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    // post-type-buttons
    function SelectPostType(id, elem, timing) {
        var sections = ["text", "image", "link", "quiz"];
        
        timing = timing || 300;

        $('#post-type-buttons button').addClass("basic");
        $(elem).removeClass("basic");

        for (var section of sections) {
            if (section == id) continue;
            $('#' + section + "-post-input").hide(timing);
        }

        $('#' + id + "-post-input").show(timing);
    }

    function SelectQuestion(index, elem) {
        $('.question-select').addClass("basic");
        $(elem).removeClass("basic");

        $('.question-input').hide(300);
        $('#question' + index).show(300);

        UpdateQuestionSelectBtns();
    }

    function UpdateQuestionSelectBtns() {
        $('.question-input').each(function(index) {
            var anyEmpty = false;
            $(this).find("input").each(function() {
                if ($(this).val() == "") {
                    anyEmpty = true;
                }
            })

            var currentQuestion = $('.question-select').eq(index);
            // invalid input
            if (anyEmpty) {
                currentQuestion.removeClass("green");
            } else {
                currentQuestion.addClass("green");
                currentQuestion.removeClass("orange");
            }
        })
    }
    
    function LoadVideo(elem){
        var id = $(elem).attr('data-link');
        
        var html = `<iframe class="ui container" height="600" src="${id}" loading="lazy"></iframe>`;
        
        $(elem).replaceWith(html);
    }

    document.addEventListener("DOMContentLoaded", function() {
        SelectPostType("text", $('#default-post-btn'),1);
        SelectQuestion(0, $('#default-question-btn'));

        $('.question-input input').on("input", function() {
            UpdateQuestionSelectBtns();
        })
    })
    

</script>

{%endblock%}
