{% extends "base.html" %} {% block title %}HomePage{% endblock %} {% block content
%}
<div class="ui segment">
    <div style="text-align: center;">
        <div class="ui statistic">
            <h1>Welcome to Reconnect!</h1>
            <div class="detail"><h4>Reconnect is a university centered social media made by students for students</h4></div>
        </div>
    </div>
    <div class="ui cards">
        <div class="ui horizontal divider hidden"></div>
            Our aim with Reconnect is to increase student interactivity with other students through fun games, posts and discussions.
            This application will also enable students to communicate and bond through degree related topics with the help of both student and staff made quizzes.
            <div class="ui horizontal divider hidden"></div>
            Our aim with Reconnect is to increase student interactivity with other students through fun games, posts and discussions.
            This application will also enable students to communicate and bond through degree related topics with the help of both student and staff made quizzes.
        </div>

        <div class="ui horizontal divider hidden"></div>
            <h2>Lets Get Started:</h2>
            <a href="/register" style="color: #0077cc">Register here</a>

        <div><h2>Search for a user:</h2>
        <form action="" class="ui form">
            <div class="field">
                <div class="ui left icon input">
                    <input type="text" placeholder="Search users...">
                    <i class="users icon"></i>
            </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
