{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}
<div class="ui segment">
  <div style="text-align: center">
    <div class="ui statistic">
      <h1>Welcome to Reconnect!</h1>
      <div class="detail">
        <h4>
          Reconnect is a student network application for the University of
          Exeter.
        </h4>
      </div>
    </div>
  </div>
  <div class="ui cards">
    <div class="ui horizontal divider hidden"></div>
    Our aim with Reconnect is to increase student interaction with other
    students through fun games, posts, and discussions. This application will
    also encourage students to communicate and bond through degree-related
    topics, with the help of both student and staff-made quizzes.
  </div>

  <div class="ui horizontal divider hidden"></div>
  <h2>Get Started:</h2>
  <a href="/register" style="color: #0077cc">Register Here</a>

  <div>
    <h2>Search For a User:</h2>
    <div class="field">
      <div class="ui left icon input fluid">
        <input
          type="text"
          placeholder="Search users..."
          oninput="SearchUser(this.value);"
        />
        <i class="users icon"></i>
      </div>
    </div>

    <div class="ui vertical list" id="users"></div>
  </div>
</div>
<script>
  function SearchUser(username) {
    var xhttp;
    if (username == "") {
      document.getElementById("users").innerHTML = "";
      return;
    }

    console.log(username);

    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log(this.response);
        var json_response = JSON.parse(this.response);

        console.log(json_response);

        document.getElementById("users").innerHTML = "";

        for (var user of json_response) {
          var html = `<div class="item">
                                    <img class="ui avatar image" src="${user[3]}">
                                    <div class="content">
                                        <a class="header" href="./profile/${user[0]}">${user[0]}</a>
                                        <div class="description">Studying ${user[1]}</div>
                                    </div>
                                    </div>`;

          document.getElementById("users").innerHTML += html;
        }
      }
    };

    xhttp.open("GET", "search_query?chars=" + username + "&hobby=&interest=");
    xhttp.send();
  }
</script>
{% endblock %}
