{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<style>
    .gold {
        background: conic-gradient(#edc800, #e3b600, #f3cf00, #ffe800,
                #edc800, #e3b600, #f3cf00, #ffe800,
                #edc800, #e3b600, #f3cf00, #ffe800,
                #edc800, #e3b600, #f3cf00, #ffe800);
    }

    .silver {
        background: conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
    }

    .bronze {
        background: conic-gradient(#d95641, #b14439, #b2453a, #d25645,
                #d95641, #b14439, #b2453a, #d25645,
                #d95641, #b14439, #b2453a, #d25645,
                #d95641, #b14439, #b2453a, #d25645);
    }

    .platinum {
        background: conic-gradient(#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
                #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
                #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
                #e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
    }
    
    .achievement-icon {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .achievement:hover .achievement-icon {
        animation-duration: 300ms;
        animation-name: achievement-hover;
    }
    
    @keyframes achievement-hover {
        0% {
            transform: scaleX(1) scaleY(1);
        }
        20% {
            transform: scaleX(0.8) scaleY(1.1);
        }
        50% {
            transform: scaleX(1.2) scaleY(0.9);
        }
        100% {
            transform: scaleX(1) scaleY(1);
        }
    }
</style>

<div class="ui segment">
    <div class="ui grid container">
        <div class="row">
            <div class="five wide column">
                <img class="fluid rounded" src="{{profile_picture}}" />
            </div>
            <div class="eleven wide column">
                <div class="ui list">
                    <div class="item">
                        <h1>
                            {{name}}
                            {% if session and session["username"] == username%}
                            <div class="right floated content">
                                <a href="../edit-profile">
                                    <button class="ui button icon green">
                                        <i class="icon pencil"></i>
                                        Edit Profile
                                    </button>
                                </a>
                            </div>
                            {%endif%}
                        </h1>
                        <span class="right floated content">
                            
                                        <a href="">
                                            <i class="exclamation triangle icon"></i>
                                            Report user
                                        </a>
                            
                        </span>
                    </div>
                    <div class="item">
                        <h5>
                            <div class="ui label basic medium blue">
                                @{{username}}
                                <div class="detail">{{account_type}}</div>
                            </div>
                        </h5>
                    </div>
                </div>
                <div class="ui list">
                    <div class="item"><b>Studying Biology at University of
                            Bristol</b></div>
                </div>
                <p style="overflow-wrap: anywhere;">{{bio}}</p>
                {% if username != session["username"] and session["username"]
                %}
                <div class="ui buttons right floated">
                    {% if type == None %}
                    <form action="{{ url_for('connect_request', username=username) }}" method="POST">
                        <button class="ui blue button tiny">
                            <i class="user icon"></i>
                            Connect
                        </button>
                    </form>
                    {% endif %}
                    {% if type == "request" %}
                    <form action="{{ url_for('remove_connection', username=username) }}" method="GET">
                        <button class="ui grey button tiny">
                            <i class="bell slash icon"></i>
                            Pending
                        </button>
                    </form>
                    {% endif %}
                    {% if type == "incoming" %}
                    <form action="{{ url_for('accept', username=username) }}" method="GET">
                        <button class="ui green button tiny">
                            <i class="user icon"></i>
                            Accept Request
                        </button>
                    </form>
                    {% endif %}
                    {% if type == "connected" %}
                    <form action="{{ url_for('close_connection', username=username) }}" method="GET">
                        <button class="ui blue button tiny">
                            <i class="handshake outline icon"></i>
                            Mark as close friend
                        </button>
                    </form>
                    {% endif %}
                    {% if type == "close" %}
                    <form action="{{ url_for('remove_close', username=username) }}" method="GET">
                        <button class="ui green button tiny">
                            <i class="handshake outline icon"></i>
                            Close Friends
                        </button>
                    </form>
                    {% endif %}
                    {% if type == "connected" or type == "close" %}
                    <form action="{{ url_for('remove_connection', username=username) }}" method="GET">
                        <button class="ui green button tiny">
                            <i class="user icon"></i>
                            Connected
                        </button>
                    </form>
                    {% endif %}
                    <button class="ui red button tiny">
                        <i class="bell slash icon"></i>
                        Block
                    </button>
                </div>
                {%endif%}
            </div>
            <div class="five wide column">
                <div class="ui list">
                    <div class="item">
                        <div class="ui label basic">
                            <i class="male icon"></i>
                            {{gender}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui label basic">
                            <i class="birthday cake icon"></i>
                            {{birthday}} ({{age}} years old)
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui label blue basic">
                            <i class="envelope open outline icon"></i>
                            {{email}}
                        </div>
                    </div>
                    <div class="ui progress {{progress_color}} tiny">
                        <!-- TO DO: fix experience level bar -->
                        <div class="bar" style="width: {{100*current_xp/xp_next_level}}%;">
                            <div class="progress"></div>
                        </div>
                        <div class="label">Level {{level}} ({{current_xp}}/{{xp_next_level}})</div>
                    </div>
                    <div class="ui divider hidden"></div>
                </div>
                <div class="ui divider horizontal">Hobbies</div>
                <div class="ui medium teal labels" style="text-align: center;">
                    {% for hobby in hobbies %}
                    <a class="ui label">{{hobby[0]}}</a>
                    {%endfor%}
                </div>
                <div class="ui divider horizontal">Interests</div>
                <div class="ui medium orange labels" style="text-align: center;">
                    {% for interest in interests %}
                    <a class="ui label">{{interest[0]}}</a>
                    {% endfor %}
                </div>
                
                <div class="ui horizontal divider">Achievements</div>
                
                <div class="ui icons" style="text-align: center;">
                   {% for achievement in unlocked_achievements %}
                    <div class="achievement" style="display: inline-block;">
                        <i class="icon {{ achievement[1] }} big {{achievement[2]}} achievement-icon" data-title="{{achievement[4]}}" data-content='{{achievement[0]}} | {{achievement[3]}} XP'></i>
                    </div>
                    {% endfor %}
                </div>
                
                <div class="ui horizontal divider">Socials</div>
                <div class="ui grid two column container stackable">
                    <div class="column">
                        <button class="ui button facebook icon fluid mini"><i class="facebook icon"></i>
                            Facebook
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui button google plus icon fluid mini">
                            <i class="google icon"></i>
                            Google
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui button linkedin icon fluid mini"><i class="linkedin icon"></i>
                            LinkedIn
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui button twitter icon fluid mini"><i class="twitter icon"></i> Twitter
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui button instagram icon fluid mini"><i class="instagram icon"></i>
                            Instagram
                        </button>
                    </div>
                    <div class="column">
                        <button class="ui button youtube icon fluid mini"><i class="youtube icon"></i> YouTube
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment basic">
        <div class="column">
            <div class="ui horizontal divider">Posts</div>
            {% for post in posts.UserPosts %}
            <div class="ui grid">
                <div class="two wide column">
                    <img class="ui image centered rounded" src="https://via.placeholder.com/500" alt="" />
                </div>
                <div class="fourteen wide column">
                    <h2>
                        <a href="/post_page/{{ post.postId }}">{{ post.title
                            }}</a>
                        <div style="float: right">{{ post.date_posted }}</div>
                    </h2>
                    <a href="/profile/{{ post.author }}">
                        <div class="ui label blue">
                            {{ post.author }}
                            <div class="detail">{{ post.account_type }}</div>
                        </div>
                    </a>
                    <br>
                    {{ post.body }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Use static/local versions instead of this cdnjs link -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

<script>
    $('[data-title]').popup();
</script>

{%endblock%}
