{% extends "base.html" %} {% block title %}Request{% endblock %} {% block
content %}
<!-- when writing the for loop, use the whole ui segment instead of just "sixteen wide column" -->
<div class="ui segment">
    <div class="ui grid">
        <div class="ui sixteen wide column">
            <h2>
                <a href="">Computer Science Quiz</a>
                <div style="float: right;">
                    <h5>Created on 10/03/2021</h5>
                </div>
            </h2>
            Created by <div class="ui label">ic324 <div class="detail">Student</div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
