{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="ui segment basic">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
                <a class="item active">Profile</a>
                <a class="item">Socials</a>
                <a class="item">Notifications</a>
                <a class="item">Privacy</a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui segment">
                <!-- name bio gender birthday profile_picture hobbies interests -->
                <form action="" class="ui form">
                    <div class="field">
                        <label>Bio</label>
                        <textarea name="bio_input" rows="2"> </textarea>
                    </div>
                    <div class="field">
                        <label>Gender</label>
                        <select name="gender_input" id="">
                            <option value="">Male</option>
                            <option value="">Female</option>
                            <option value="">Other</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Birthday</label>
                        <input name="dob_input" type="date" />
                    </div>
                    <div class="field">
                        <label>Profile Picture</label>
                        <input name="profile_picture_input" type="file" id="profile-picture-upload" />
                        <label for="profile-picture-upload" class="custom-file-upload ui label">
                            <i class="upload icon"></i>
                            Upload
                            <div class="detail">profile_pic.png</div>
                        </label>
                    </div>
                    <div class="ui divider"></div>
                    <div class="field">
                        <label>Hobbies</label>
                        <input name="hobbies_input" type="text" />
                        <div class="ui divider hidden"></div>
                        <div class="ui labels teal">
                            <div class="ui label">
                                Programming
                                <i class="close icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="twelve wide stretched column">
                        <div class="ui segment">
                            <!-- name bio gender birthday profile_picture hobbies interests -->
                            <form action="/edit-profile" method="POST" class="ui form">
                                <div class="field">
                                    <label>Bio</label>
                                    <textarea name="bio_input" rows="2" maxlength="160"> </textarea>
                                </div>
                                <div class="field">
                                    <label>Gender</label>
                                    <select name="gender_input" id="">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Birthday</label>
                                    <input name="dob_input" type="date" />
                                </div>
                                <div class="field">
                                    <label>Profile Picture</label>
                                    <input name="profile_picture_input" type="file" id="profile-picture-upload" />
                                    <label for="profile-picture-upload" class="custom-file-upload ui label">
                                        <i class="upload icon"></i>
                                        Upload
                                        <div class="detail">profile_pic.png</div>
                                    </label>
                                </div>
                                <div class="ui divider"></div>
                                <div class="field" name="field">
                                    <label>Hobbies</label>
                                    <input name="hobbies_input" type="text" />
                                    <div class="ui divider hidden"></div>
                                    <div class="ui grid container" name="hobby-div"></div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="field">
                                    <label>Interests</label>
                                    <input name="interests_input" type="text" />
                                    <div class="ui divider hidden"></div>
                                    <div class="ui grid container" name="interest-div"></div>
                                </div>

                                <button class="ui button submit">Save Changes</button>
                            </form>
                        </div>
                    </div>

                    <button class="ui button submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../static/hobbies.js"></script>
<script src="../static/interests.js"></script>


</html>
{%endblock%}