{% extends "base.html" %}
{% block title %}Settings
{% endblock %} {% block content %}

<html lang="en">
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width,initial-scale=1" />
<!--
    <link rel="stylesheet" href={{ url_for('static',
    filename='styles/semantic.css') }}>
    -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" /> -->

<head>
    <title>Student Network - Profile</title>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <style type="text/css">
        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            background-color: #e0e1e2;
            padding: 10px;
        }

        .custom-file-upload:hover {
            background-color: #cacbcd;
            cursor: pointer;
        }

        .sticky {
            position: sticky;
            top: 5px;
            z-index: 99;
        }

        #hideValuesOnSelect {
            display: none;
        }

    </style>
</head>

<body>


    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui container">
            <div class="ui segment basic">
                <div class="ui grid">
                    <div class="four wide column">
                        <div class="ui vertical fluid menu" id="menu">
                            <a class="item active" onclick='OpenTab("profile", this);'>Profile</a>
                            <a class="item" onclick='OpenTab("socials", this);'>Socials</a>
                            <a class="item" onclick='OpenTab("notifications", this);'>Notifications</a>
                            <a class="item" onclick='OpenTab("privacy", this);'>Privacy</a>
                        </div>
                    </div>
                    <div class="twelve wide stretched column">
                        {%if errors|length > 0%}
                        <div class="ui red message">
                            {% for error in errors %}
                            <div class="ui list">
                                <div class="item">{{error}}</div>
                            </div>
                            {%endfor%}
                        </div>
                        {%endif%}

                        <div class="ui segment" id="profile">
                            <!-- name bio gender birthday profile_picture hobbies interests -->

                            <form action="/edit-profile" method="POST" class="ui form" enctype="multipart/form-data">
                                <div class="field">
                                    <label>Degree</label>
                                    <select name="degree_input">
                                        {%for item in degrees.degrees %}
                                        Degree:
                                        {% if item.degreeId == degree %}
                                        <option value="{{item.degreeId}}" selected>{{item.degree}}</option>
                                        {%else%}
                                        <option value="{{item.degreeId}}">{{item.degree}}</option>
                                        {%endif%}
                                        {%endfor%}
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Bio</label>
                                    <textarea name="bio_input" rows="2" maxlength="160">{{bio}}</textarea>
                                </div>
                                <div class="field">
                                    <label>Gender</label>
                                    <select name="gender_input" id="">
                                        {% if gender == "Male" %}
                                        <option value="Male" selected>Male</option>
                                        {%else %}
                                        <option value="Male">Male</option>
                                        {%endif%}

                                        {% if gender == "Female" %}
                                        <option value="Female" selected>Female</option>
                                        {%else %}
                                        <option value="Female">Female</option>
                                        {%endif%}

                                        {% if gender == "Other" %}
                                        <option value="Other" selected>Other</option>
                                        {%else %}
                                        <option value="Other">Other</option>
                                        {%endif%}
                                    </select>
                                </div>
                                <div class="field">
                                    <label>Birthday</label>
                                    <input name="dob_input" type="date" value="{{date}}" />
                                </div>
                                <div class="field">
                                    <label>Profile Picture</label>
                                    <input name="file" type="file" id="profile-picture-upload" accept="image/*" oninput='document.getElementById("avatar-file-name").innerHTML = this.value;' />
                                    <label for="profile-picture-upload" class="custom-file-upload ui label">
                                        <i class="upload icon"></i>
                                        Upload
                                        <div class="detail" id="avatar-file-name">
                                            profile_pic.png
                                        </div>
                                    </label>
                                </div>
                                <div class="ui divider"></div>
                                <div class="field" name="field">
                                    <label>Hobbies</label>
                                    <div style="color: grey">
                                        Use comma to separate the hobbies
                                    </div>
                                    <input name="hobbies_input" type="text" placeholder="{% if hobbies != none %} {%for item in hobbies%} {{item[0]}}, {%endfor%} {%endif%}" maxlength="24">
                                    <script src="../static/hobbies.js"></script>
                                    <div class="ui divider hidden"></div>
                                    <div class="ui grid container" name="hobby-div">

                                        {% if hobbies != none %}
                                        {% for i in range(hobbies|length) %}
                                        <script>
                                            addHTag("{{ hobbies[i][0]}}")

                                        </script>
                                        {%endfor%}
                                        {%endif%}

                                    </div>

                                </div>
                                <div class="ui divider"></div>
                                <div class="field">
                                    <label>Interests</label>
                                    <div style="color: grey">
                                        Use comma to separate the interests
                                    </div>
                                    <input name="interests_input" type="text" maxlength="24" placeholder="{% if instrest != none %} {%for item in instrests%} {{item[0]}}, {%endfor%} {%endif%}">
                                    <script src="../static/interests.js"></script>
                                    <div class="ui divider hidden"></div>
                                    <div class="ui grid container" name="interest-div">
                                        {% if interests != none %}
                                        {% for i in range(interests|length) %}
                                        <script>
                                            addITag("{{ interests[i][0] }}")

                                        </script>
                                        {%endfor%}
                                        {%endif%}
                                    </div>
                                </div>
                                <button class="ui button submit">Save Changes</button>
                        </form>
                    </div>
                    <div class="ui segment" id="socials">
                        <div class="ui form">
                            <div class="ui message green">
                                Only fill in your username, don't use full links.
                                        <button class="ui button submit">Save Changes</button>
                                    </div>
                                </form>

                            <div class="ui segment" id="socials">
                                <form action="/edit_socials" method="POST" class="ui form" name="socials_edit" enctype="multipart/form-data">
                                    <div class="ui message green">
                                        Only fill in your username, don't use full links.
                                    </div>
                                    <div class="two fields" >
                                        <div class="field" >
                                            <label><i class="icon facebook"></i> Facebook</label>
                                            <input type="text" name="facebook" id="facebook" placeholder="{{socials.facebook}}">
                                        </div>
                                        <div class="field">
                                            <label><i class="icon twitter"></i> Twitter</label>
                                            <input type="text" name="twitter" id="twitter" placeholder="{{socials.twitter}}">
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="field">
                                            <label><i class="icon linkedin"></i> LinkedIn</label>
                                            <input type="text"  name="linkedin" id="linkedin" placeholder="{{socials.linkedin}}">
                                        </div>
                                        
                                    </div>
                                    <div class="two fields">
                                        <div class="field">
                                            <label><i class="icon instagram"></i> Instagram</label>
                                            <input type="text" name="instagram" id="instagram" placeholder="{{socials.instagram}}">
                                        </div>
                                        <div class="field">
                                            <label><i class="icon youtube"></i> YouTube</label>
                                            <input type="text" name="youtube" id="youtube" placeholder="{{socials.youtube}}">
                                        </div>
                                    </div>
                                    <div class="ui button submit" form="socials_edit">Save Changes</div>
                                </form>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label><i class="icon facebook"></i> Facebook</label>
                                    <input type="text" placeholder="Username">
                                </div>
                            </div>
                            
                    <div class="ui segment" id="notifications">
                        Notif
                    </div>                    
    
                            <div class="ui segment" id="privacy">
                                <form action="/profile_privacy" method="POST" class="ui form" enctype="multipart/form-data">
                                    <div class="field">
                                        <label>Select your profile page privacy settings:</label>
                                        <select name="privacy"  onchange="displayDiv(this)" >
                                            {% if privacy == "public" %}
                                                <option value="public" selected >Public</option>
                                            {%else %}
                                                <option value="public">Public</option>
                                            {%endif%}
    
                                            {% if privacy == "protected" %}
                                                <option value="protected" selected >Protected</option>   
                                            {%else %}
                                                <option value="protected">Protected</option>
                                            {%endif%}
    
                                            {% if privacy == "close_friends" %}
                                                <option value="close_friends" selected >Close friends only</option>   
                                            {%else %}
                                                <option value="close_friends">Close friends only</option>
                                            {%endif%}
    
                                            {% if privacy == "private" %}
                                                <option value="private" selected >Private</option>   
                                            {%else %}
                                                <option value="private">Private</option>
                                            {%endif%}
                                        </select>
                                    </div>
                                    <button class="ui button submit">Save Changes</button>
                                </form>
                            </div>
                                <div class="ui segment" id="privacy_description" style="display:none;">
                                    <div id="public" style="display:none;">
                                        Everyone can view all of your profile page details.
                                        </div>
                                    <div id="protected" style="display:none;">
                                        Only your connections can view your profile page.
                                        </div>
                                    <div id="close_friends" style="display:none;">
                                        Only your close friends can view your profile page.
                                    </div>
                                    <div id="private" style="display:none;">
                                        You are the only one who can view your profile page.
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

<script>
    function OpenTab(tabName, curElem) {
        var tabs = ["profile", "socials", "notifications", "privacy"];

        var menuItems = document.querySelectorAll("#menu a");

        menuItems.forEach(function(elem) {
            elem.classList.remove("active");
        });

        for (var tab of tabs) {
            document.getElementById(tab).style.display =
                tab == tabName ? "block" : "none";
            if (curElem) {
                curElem.classList.add("active");
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        OpenTab("profile");
    });

    function displayDiv(setting) {
        console.log(setting);
        if (setting) {
            document.getElementById("privacy_description").style.display = "block";
            if (setting.value == "public") {

                document.getElementById("public").style.display = "block";
                document.getElementById("protected").style.display = "none";
                document.getElementById("close_friends").style.display = "none";
                document.getElementById("private").style.display = "none";
            } else if (setting.value == "protected") {
                document.getElementById("public").style.display = "none";
                document.getElementById("protected").style.display = "block";
                document.getElementById("close_friends").style.display = "none";
                document.getElementById("private").style.display = "none";
            } else if (setting.value == "close_friends") {
                document.getElementById("public").style.display = "none";
                document.getElementById("protected").style.display = "none";
                document.getElementById("close_friends").style.display = "block";
                document.getElementById("private").style.display = "none";
            } else {
                document.getElementById("public").style.display = "none";
                document.getElementById("protected").style.display = "none";
                document.getElementById("close_friends").style.display = "none";
                document.getElementById("private").style.display = "block";
            }
        }
    }

</script>

{% endblock %}
