<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Network - Register</title>
  </head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/semantic.css') }}"
  />

  <style>
    .student-background {
      background-image: url("{{ url_for('static', filename='images/background_blue.png') }}") !important;

      height: 100%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      position: fixed;
      z-index: -1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  </style>

  <body>
    <div class="student-background"></div>
    <div class="ui segment basic">
      <div class="ui menu">
        <a href="/login" class="item active">Login</a>
        <a href="/register" class="active item">Register</a>
        <div class="right menu">
          <a class="ui item">Logout</a>
        </div>
      </div>

      <form action="/terms" method="POST">
        <div class="ui card centered" style="min-width: 70%">
          <div class="content">
            <div class="header">Terms of Service</div>
          </div>
          <div class="content">
            <div class="ui form">
              <!--<img src="{{ url_for('static', filename='images/GSEP_ToS.png') }}" alt="Terms of Service" style="max-width: 100%">-->
              <h1>Group N – (Re-Connect) Terms of Service</h1>
              Please read these terms of service carefully before signing up for
              (Re-Connect). (Re-Connect) is operated by Exeter University Group
              Software Engineering Project Group N. The (Re-Connect) team is a
              group of university computer science students with the goal of
              working alongside the Exeter University faculty, and more
              importantly the student body, to develop a brand new social media
              connecting students through these isolating times. We wont charge
              anyone for the use of (Re-Connect).
              <h2>Conditions of use</h2>
              By using this website, you certify that you have read and reviewed
              this Agreement and that you agree to comply with its terms. If you
              do not want to be bound by the terms of this Agreement, you are
              advised to leave the website accordingly. [name] only grants use
              and access of this website, its products, and its services to
              those who have accepted its terms.
              <h2>Privacy policy</h2>
              Before you continue using our website, we advise you to read our
              privacy policy
              <a href="/privacy_policy">Privacy Policy</a> regarding our user
              data collection. It will help you better understand our practices.
              <h2>Intellectual property</h2>
              You agree that all materials, products, and services provided on
              this website are the property of (Re-Connect), its affiliates,
              directors, officers, employees, agents, suppliers, or licensors
              including all copyrights, trade secrets, trademarks, patents, and
              other intellectual property. You also agree that you will not
              reproduce or redistribute the (Re-Connect) intellectual property
              in any way, including electronic, digital, or new trademark
              registrations. You grant (Re-Connect) a royalty-free and
              non-exclusive license to display, use, copy, transmit, and
              broadcast the content you upload and publish. For issues regarding
              intellectual property claims, contact our legal team at
              bg354@exeter.ac.uk in order to come to an agreement.
              <h2>User accounts</h2>
              As a user of this website, you will be asked to register with us
              and provide private information. You are responsible for ensuring
              the accuracy of this information, and you are responsible for
              maintaining the safety and security of your identifying
              information. You are also responsible for all activities that
              occur under your account or password. If you think there are any
              possible issues regarding the security of your account on the
              website, inform us immediately so we may address it accordingly.
              We reserve all rights to terminate accounts, edit or remove
              content and cancel orders in their sole discretion.
              <h2>Applicable law</h2>
              By visiting this website, you agree that the laws of the United
              Kingdom, without regard to principles of conflict laws, will
              govern these terms and conditions, or any dispute of any sort that
              might come between the (Re-Connect) platform and you, or its
              business partners and associates.
              <h2>Indemnification</h2>
              You agree to indemnify (Re-Connect) and its affiliates and hold
              (Re-Connect) harmless against legal claims and demands that may
              arise from your use or misuse of our services. We reserve the
              right to select our own legal counsel.
              <h2>Limitation on liability</h2>
              (Re-Connect) is not liable for any damages that may occur to you
              as a result of your misuse of our website. (Re-Connect) reserves
              the right to edit, modify, and change this Agreement any time. We
              shall let our users know of these changes through electronic mail.
              This Agreement is an understanding between (Re-Connect) and the
              user, and this supersedes and replaces all prior agreements
              regarding the use of this website.
            </div>
            <input
              type="submit"
              value="Back to Registration"
              class="ui button submit"
              style="float: right"
            />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
