# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\isaac\OneDrive\Documents\University\Computer Science\Year 2\Term 2\Group Software Engineering Project (ECM2434)\Project\student-network\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
